.dictionary-container{
  text-align: center;
  margin-top: 50px;
  font-family: Arial, Helvetica, sans-serif;
}

.dictionary-title{
  font-size: 36px;
  color:#333;
  margin-bottom: 20px; 
}

dictionary-search{
  display:inline-flex;
  align-items: center;
}

dictionary-button{
  padding: 10px 15px;
  margin-left:10px;
  background-color: #007bff;
  color: #fff;
  border:none;
  border-radius: 5px;
  font-size: 16px;
  cursor:pointer;
  transition:background-color 0.3s ease;
}

/* .class-definition{
  margin-block-start: auto;
  padding: 1px;
  margin-inline-start: -125px;
} */